html {
    background-color: black;
}
body {
    background-color: black;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2px;
    margin-right: 2px;
}

#wrapper {
    flex: 1;
}

#star-sign-data {
    border-bottom: solid 2px gray;
    border-top: solid 2px gray;
}

#star-sign {
    font-size: xx-large;
}

#date-range {
    font-size: x-large;
}

.column {
    background-color:black;
    color:gray;
}

.column-title {
    border-bottom: solid 2px gray;
}

.navbar {
    background-color: black;
    border-bottom: solid 2px #008098;
    border-top: solid 2px #008098;
}

.navbar-item {
    background-color:Black ;
    /* border-right: solid 2px white; */
    color: gray;
    padding: 0;
}

.navbar-item2 {
    float: right;
    padding-left: 50px;


}

#card-t2 {
    color: gray;
}

.label {
    color: gray;
    padding-top: 10px;
    padding-right: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.level {
    padding-top: 20px;
}

#thumbnail1 {
    width: 75%;
}

.row {
    color: gray;
}

.footer {
        position: fixed;
        bottom: 0 !important;
        width: 100%;
        background-color: black;
        padding: 5px;
        color:  #008098;
        border-top: solid 4px #008098;
        border-bottom: solid 4px #008098;
        margin: 0; 
}

.footer a span {
    color: #008098;
}

.hidden {
    display: none;
  }

.card {
    background-color: black;
}

.select {
    column-span: all;
    align-content: center;

    
}

#h2 {
    font-size: xx-large;
}

  
